.container {
  background-color: white;
  height: 100vh;
}

.main {
  text-align: center;
  color: black;
}

.background {
  background-image: url("/pics/1.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2vh 45vh 2vh 45vh;
  background-color: rgba(211, 211, 211, 0.493);
  border-radius: 20px;
  padding: 2px;
}

.logos {
  margin: 1vh;
}

.body {
  text-align: center;
  color: black;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20vh;
}

.button {
  margin: 10px;
  color: black;
  border: none;
  outline: none;
  font-size: 15pt;
  border-radius: 20px;
  background-color: white;
}
